/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
@import "tailwindcss";
/* App.css */
.grid-default-color {
  background-color: #5f47ff; /* Tailwind's gray-800 */
  color: white;
  border-radius: 0.5rem;
  padding: 2rem;
}

.grid-special-color {
  background-color: rgb(255, 255, 255); /* Tailwind's gray-800 */
  color: white;
  border-radius: 0.5rem;
  padding: 2rem;
}
@theme inline {
  --animate-orbit: orbit calc(var(--duration) * 1s) linear infinite;
 
  @keyframes orbit {
    0% {
      transform: rotate(calc(var(--angle) * 1deg))
        translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg));
    }
    100% {
      transform: rotate(calc(var(--angle) * 1deg + 360deg))
        translateY(calc(var(--radius) * 1px))
        rotate(calc((var(--angle) * -1deg) - 360deg));
    }
  }
}
@theme inline {
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
 
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}
